@import 'leaflet/dist/leaflet.css';


body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.map-container {
  height: 500px;           
  width: 500px;         
  margin: 0 auto;           
}